<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{title}}</title>
</head>
<body>
  <h1>Welcome to page1</h1>
  
  <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
  <a href="/">Home</a>
  <a href="/page2">Page 2</a>
  <a href="/page3">Page 3</a>
  <a href="/getName">Show Name</a>

  {{#if cats}}
    <ul>
      {{#each cats}}
        <li> 
          {{this.name}} has {{this.bedsOwned}} beds.
          <button class="delete-button" data-id="{{this._id}}">Delete</button>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  <script>
    const deleteButtons = document.querySelectorAll('.delete-button');
    deleteButtons.forEach(button => {
      button.addEventListener('click', async (e) => {
        const button = e.currentTarget;
        console.log(button.dataset.id);
        const catId = button.dataset.id;

        const response = await fetch(`/cat/${catId}`, {
          method: 'DELETE',
        })

        if (response.ok) {
          button.closest('li').remove();
        } else {
          console.error("oops, didn't delete");
        }
      });
    })
  </script>
</body>
</html>